body {
  height: 100vh;
  background-color: #ffcccb;
  font-family: "Arial", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/binding-dark.png);
  pointer-events: none;
}
.potato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fbf1d5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
h1 {
  color: #d63384;
  font-size: 2em;
}
.love {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.love:hover {
  transform: scale(1.05);
  color: black;
}

.yes {
  background-color: #d63384;
  color: black;
  border: 2s solid gery;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.yes:hover {
  background-color: #1c7a38;
  color: White;
}
.no {
  background-color: #d63384;
  color: black;
  border: 2s solid gery;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
}
.no:hover {
  background-color: #1c7a38;
  color: White;
}
.gif {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin-top: 20px;
}
